# Import the dataset and Load the dataset. Load the necessary libraries.

In [ ]:
import pandas as pd
dataframe=pd.read_csv('uberdrive.csc')

## Q1. Show the last 10 records of the dataset. (2 point)

In [ ]:
dataframe.head(20)

## Q2. Show the first 10 records of the dataset. (2 points)

In [ ]:
dataframe.tail(20)

## Q3. Show the dimension of the dataset. (2 points)

In [2]:
dataframe.ndim

NameError: name 'dataframe' is not defined

## Q4. Show the size of the dataset. (2 points)

In [ ]:
dataframe.size

## Q5. Print the information about all the variables of the data set. (2 points)

In [ ]:
dataframe.info()

## Q6. Check for missing values. (2 points)

In [ ]:
dataframe.isnull()

## Q7. How many missing values are present? (2 points)

In [ ]:
dataframe.isnull().sum()

## Q8. Get the initial data (name it 'df') with dropping the NA values. (2 points)

In [ ]:
import pandas as pd
df = pd.read_csv('uberdrive.csv')
df.dropna(inplace= True)

## Q9. Get the summary of data. (2 points)

In [ ]:
df.describe()

## Q10. Check the information of the new dataframe. (2 points)

In [ ]:
df.info()

## Q11. Get the unique start destinations. (2 points)

In [ ]:
df['START*'].unique()

## Q12. What is the total number of unique start destinations? (2 points)

In [ ]:
df['START*'].nunique()

## Q13. Print the total number of unique stop destinations. (2 points)

In [ ]:
print(df['STOP*'].nunique())

## Q14. Print all the Uber trips that has the starting point of San Francisco. (2 points)

In [ ]:
print(df.loc[(df['START*']=='San Francisco')])

## Q15. What is the most popular starting point for the Uber drivers? (2 points)

In [ ]:
df['START*'].value_counts().idxmax()

## Q16. What is the most popular dropping point for the Uber drivers? (2 points)

In [ ]:
df['STOP*'].value_counts().idxmax()

## Q17. List the most frequent routes(same START & END points) taken by Uber drivers. 
## (3 points)

## Q18. Print all types of purposes for the trip in an array. (3 points)

In [ ]:
print(df['PURPOSE*'].to_numpy())

## Q19. Plot a bar graph of Purposes vs Distance. (3 points)

In [ ]:
import matplotlib.pyplot as plt
df.plot.bar(x='PURPOSE*', y='MILES*')
plt.show()

## Q20. Print a dataframe of Purposes and the distance travelled for that particular Purpose. (3 points)

In [ ]:
print (df[['PURPOSE*','MILES*']])

## Q21. Plot number of trips vs Category of trips. (3 points)

## Q22. What is proportion of trips that is Business and what is the proportion of trips that is Personal? (3 points)